<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>课程管理</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" >
</head>

<body class="container">
    <div class="row">
        <div class="col-md-12">
            <hr />
            <div class="row">
                <div class="col-md-8">
                    <form class="form-inline">
                        <div class="form-group">
                            <label class="sr-only" for="name">名称</label>
                            <input name="name" type="text" class="form-control" placeholder="名称..." value="">
                        </div>
                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>&nbsp;查询</button>
                    </form>
                </div>            
                <div class="col-md-4 text-right">
                    <a href="{:url('add')}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;增加</a>
                </div>
            </div>
            <hr/>
            <div>
                <div class="text-right">
                    <a href="" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;导入成绩</a>
                </div>
                <div class="text-right">
                    <a href="" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;导出成绩</a>
                </div>
            </div>
            <hr/>                      
            <table class="table table-hover table-bordered">
                <tr class="info">
                    <th>序号</th>
                    <th>姓名</th>
                    <th>平时成绩</th>
                    <th>期末成绩</th>
                    <th>总成绩</th>
                    <th>操作</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>张三</td>
                    <td>40</td>
                    <td>50</td>
                    <td>90</td>
                    <td>
                        <a class="btn btn-sm btn-primary" href=""><i class="glyphicon glyphicon-pencil"></i>&nbsp;编辑</a>
                        <a class="btn btn-danger btn-sm" href=""><i class="glyphicon glyphicon-trash"></i>&nbsp;删除</a>&nbsp;
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>