<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <style type="text/css">
    .main background-color:#f00<title>个人中心</title>
    </style>
    <link rel="stylesheet" type="text/css" href="/MicroCourse2021/thinkphp5.0guide-step1/public/static/css/model.css">
</head>
<out>
<div  class="out">
<body class="container">
    <h1 class="head1">个人中心</h1>
    <div class="in">
    <ul>
        <li><font size="5" >教师工号:<td>{:$teachers->id}</td></font></li>
        <li><font size="5" >姓名：{:$teachers->name}<td></td></font></li>
        <li><font size="5" >性别：{:$teachers->sex}<td></td></font></li>
        <li><font size="5" >用户名：{:$teachers->username}<td></td></font></li>
    </ul>
    <div class="code"><a href="{:url('update?id=' . $teachers->getData('id'))}"><font size="4">修改密码</font></a></div>
</div>
</div>
</body>
</html>