<!DOCTYPE html>
<html lang="zh-hans">

<head>
    <meta charset="UTF-8">
    <title>编辑数据</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body class="container">
    <div class="row">
        <div class="col-md-12">
        <hr />
            <form action="" method="">
                <label>姓名:</label>
                <input type="hidden" name="id" value="" />
                <input type="text" name="name" value="" />
                <label>工号:</label>
                <input type="text" name="number" value="" />
                <label>邮箱:</label>
                <input type="email" name="email" value="" />
                <button type="submit">保存</button>
                <button type="submit">取消</button>
            </form>
        </div>
    </div>
</body>

</html>