<!DOCTYPE html>
<html lang="zh-hans">

<head>
    <meta charset="UTF-8">
    <title>编辑数据</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body class="container">
<!-- 菜单导航 -->
    <div class="text left">
        <div class="col-md-12">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">梦云智</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="#">课程管理</a></li>
                            <li><a href="#">学生管理</a></li>
                            <li><a href="#">班级管理</a></li>
                            <li><a href="#">上课</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">个人中心</a></li>
                            <li><a href="#">注销</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        <hr />
            <form action="" method="">
                <label>姓名:</label>
                <input type="hidden" name="id" value="" />
                <input type="text" name="name" value="" />
                <label>学号:</label>
                <input type="text" name="number" value="" />
                <label>课程:</label>
                <select class="input-sm">
                  <option>高等数学</option>
                </select>
                <label>班级:</label>
                <select class="input-sm">
                  <option>一班</option>
                  <option>二班</option>
                  <option>三班</option>
                </select>
                <label>平时成绩：</label>
                <input type="text" name="score" value="" />
                <label>期末成绩：</label>
                <input type="text" name="score" value="" />
                <button type="submit">保存</button>
                <button type="submit">取消</button>
            </form>
        </div>
    </div>
</body>

</html>