<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>教师端</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
    <div class="text left">
        <div class="col-md-12">
            <font size="3">上课时间:</font>
            <input type="text" name="time">            
        </div>
        <div class="col-md-12">
            <font size="3">课程:</font>
            <select>
                <option>高数</option>
                <option>离散</option>
            </select>       
        </div>
        <div class="col-md-12">
            <font size="3">班级:</font>
            <input type="checkbox" name="klass_id[]" id="klass_id_" value="" />
            <label for="">1班</label> 
            <font size="3">班级:</font>
            <input type="checkbox" name="klass_id[]" id="klass_id_" value="" />
            <label for="">2班</label> 
        </div>
        <div class="col-md-12"> <button type="button" class="btn btn-info">开始上课</button></div>
    </div>
</body>
</html>