<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>教师端</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body  class="container">
<!-- 菜单导航 -->
    <div class="text left">
        <div class="col-md-12">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">梦云智</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{:url('Teacher/index')}">上课</a></li>
                            <li><a href="{:url('Klass/index')}">班级管理</a></li>
                            <li><a href="{:url('TeacherCourse/index')}">课程管理</a></li>
                            <li><a href="{:url('TeacherStudent/index')}">学生管理</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{:url('TeacherCenter/center')}"><i class="glyphicon glyphicon-user" style="position: relative;top: 2px;"></i>个人中心</a></li>
                            <li><a href="{:url('Login/logout')}">注销</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>
    </div>
    <hr>
    <form action="{:url('onClass')}" method="post" class="form-inline col-md-4 col-md-offset-4">
        <div class="text left">
            <div class="col-md-12 ">
                <font size="3">上课日期:</font>
                <input type="hidden" name="start" value="0">
                <input type="hidden" name="data" value="0">
                <input type="date" class="form-control" name="startTime" value='{:date("Y-m-d",time())}'>
                <input type="hidden" name="time" value="0">  
                <input type="hidden" name="teacher_id" value="{$teacher_id}">          
            </div>
            <div class="col-md-12 form-group" style="position: relative;top:20px; left:32px">
                <font size="3" style="position: relative;right:25px;">课程:</font>
                <select name="course_id" class="form-control" >
                    {volist name='Course->select()' id='course'}
                    {eq name="$course->getData('teacher_id')" value="$teacher_id"}
                    <option value="{$course->getData('id')}" >{$course->name}</option>
                    {/eq}
                    {/volist}
                </select>       
            </div>
            <div class="col-md-12 form-group" style="position: relative;top:40px;left:32px">
                <font size="3" style="position: relative;right: 25px;">教室:</font>
                <select name="room_id" class="form-control" value='-1' >
                    {volist name='rooms->select()' id='room'}
                    {eq name="$room->is_occupy" value="0"}
                    <option value="{$room->getData('id')}" >{$room->name}</option>
                    {/eq}
                    {/volist}
                </select>       
            </div>
            <button type="submit" class="btn btn-info" style="position: relative;top:60px; left:85px">开始上课</button>
        </div> 
    </form>
    
</body>
</html>