<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>教师端</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body  class="contanier">
<!-- 菜单导航 -->
    <div class="text left">
        <div class="col-md-12">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">梦云智</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="{:url('TeacherCourse/index')}">课程管理</a></li>
                            <li><a href="{:url('TeacherStudent/index')}">学生管理</a></li>
                            <li><a href="{:url('Klass/index')}">班级管理</a></li>
                            <li class="active"><a href="{:url('Teacher/index')}">上课</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{:url('TeacherCenter/center')}">个人中心</a></li>
                            <li><a href="{:url('Login/logout')}">注销</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>
    </div>
    <form action="{:url('onClass')}" method="post">
        <div class="text left">
            <div class="col-md-12">
                <font size="3">上课时间:</font>
                <input type="text" name="startTime" value='{:date("Y-m-d ",time())}'>
                <input type="hidden" name="time" value="0">            
            </div>
            <div class="col-md-12">
                <font size="3">课程:</font>
                <select name="course_id">
                    {volist name='Course->select()' id='course'}
                    <option value="{$course->getData('id')}" >{$course->name}</option>
                    {/volist}
                </select>       
            </div>
            <div class="col-md-12">
                
            </div>
            <button type="submit" class="btn btn-info">开始上课</button>
        </div> 
    </form>
    
</body>
</html>