<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>教师端</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body class="contanier">
    <!-- 菜单导航 -->
    <div class="text left">
        <div class="col-md-12">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">梦云智</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="{:url('TeacherCourse/index')}">课程管理</a></li>
                            <li><a href="{:url('TeacherStudent/index')}">学生管理</a></li>
                            <li><a href="{:url('Klass/index')}">班级管理</a></li>
                            <li><a href="{:url('Teacher/index')}">上课</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="{:url('TeacherCenter/center')}">个人中心</a></li>
                            <li><a href="{:url('Login/logout')}">注销</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>
    </div>
    <!-- /菜单导航 -->
    <div class="row">
        <table class="table table-hover table-bordered">
            <tr class="info">
                <th></th>
                <th>教师姓名：{$teacherName}</th>
                <th>
                    <label>教室：</label>
                    <select name="course_id">
                        {volist name='rooms' id='room'}
                        <option>{$room->name}</option>
                        {/volist}
                    </select>
                </th>
                <th><button type="button" class="btn btn-info">查看座位表</button></th>
            </tr>
        </table>
        <div >
            <div class="col-md-4">
                <font size="3">课程名称：</font>
                <label>{$Course->name}</label>
            </div>
        </div>
        <div class="col-md-4">
            <label>上课班级：</label>
            <label>
                    {volist name="Course->Klasses()->select()" id="klass"}
                    <tr>
                        {eq name="$Course->getIsChecked($klass)" value="true"}<td>{$klass->name}</td>{/eq}
                    </tr>
                    {/volist}
            </label>
            </div>
            
            <form action="{:url('onClass')}" method="post">
                <div class="col-md-4">
                    <input type="hidden" name="course_id" value="{$Course->id}">
                    <input type="hidden" name="teacher_id" value="{$teacher_id}">
                    <font size="3">签到时间:</font>
                    <input class="form-inline" type="text" name="time">
                    <font size="3">分钟</font>
                    <button type="submit" class="btn btn-info">开始签到</button>
                </div>
            </form>
        <div >     
            <div class="col-md-4 ">
                <font size="3">应到人数:</font>
                <input class="form-inline" type="text" placeholder="{$studentNumber}" disabled>
            </div>
            <div class="col-md-4">
                <font size="3">实到人数:</font>
                <input class="form-inline" type="text" placeholder="40"  disabled>
            </div>
            <div class="col-md-4">
                <font size="3">剩余时间:</font>
                <a id="href" href="{:url('index')}"></a> <b id="wait">{$time}</b>
                <font size="3">分钟</font>
            </div>
        </div>
        <hr/>
        <div class="col-md-12">
            <form action="{:url('onClass')}" method="post">
                <input type="hidden" name="time" value="$time">
                <input type="hidden" name="teacher_id" value="{$teacher_id}">
                <input type="hidden" name="course_id" value="{$Course->id}">
                <button type="submit" class="btn btn-info">随机点名</button>
                <input class="form-inline" type="text" placeholder="{$studentName}"  disabled>
            </form>
        </div>
        
        <div class="col-md-12">
            <p><center>讲台</center></p>
        </div>
        
        <!-- 座位表-->
        <div class="container"style="padding-right:100px">
        <table style="margin:0 auto;margin-bottom: 50px;">
            <tr>
                <th>
                    <button class="btn btn-info seat" >student1
                    </button>
                </th>
                <th>
                   <button class="btn btn-info seat" >student2
                    </button>
                </th>
                <th>
                    <button class="btn btn-info seat" >student3
                    </button>
                </th>
                <th>
                    <button class="btn btn-default seat" style=" border:none;">
                    </button>
                </th>
                 <th>
                    <button class="btn btn-info seat ">student4
                    </button>
                </th>
            </tr>
             <tr>
                <th>
                    <button class="btn btn-info seat" >student5
                    </button>
                </th>
                <th>
                    <button class="btn btn-info seat" >student6
                    </button>
                </th>
                <th>
                    <button class="btn btn-info seat" >student7
                    </button>
                </th>
                <th>
                    <button class="btn btn-default seat" style=" border:none;">
                    </button>
                </th>
                 <th>
                    <button class="btn btn-info seat" >student8
                    </button>
                </th>
            </tr>
        </table>
        </div>
    </div>
    <script type="text/javascript">
        (function(){
            var wait = document.getElementById('wait'),
                href = document.getElementById('href').href;
            var interval = setInterval(function(){
                var time = --wait.innerHTML;
                if(time < 0) {
                    time=++wait.innerHTML;
                };
            }, 60000);
        })();
    </script>
</body>
</html>