<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>新增学期</title>
</head>

<body>
    <form action="{:url('insert')}" method="post" class="form-inline">
        <input type="hidden" name="effect" value="1" />
        <label for="name">学期名称:</label>
        <input type="text" name="name" id="name" />
           <label for="start_time">开始日期:</label>
           <input type="date" id="start_time" name="start_time">
           <label for="end_time">结束日期:</label>
           <input type="date" id="end_time" name="end_time">
        <button type="submit">submit</button>
    </form>
</body>

</html>