<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>修改学期</title>
</head>

<body>
    <form action="{:url('save')}" method="post" class="form-inline">
      <input type="hidden" name="id" value="{$Term->getData('id')}" />
        <label for="name">学期名称:</label>
        <input type="text" name="name" id="name" value="{$Term->getData('name')}">
           <label for="create_time">开始日期:</label>
           <input type="date" id="create_time" name="create_time" value="{:date('Y-m-d',$Term->getData('create_time'))}">
           <label for="end_time">结束日期:</label>
           <input type="date" id="end_time" name="end_time" value="{:date('Y-m-d',$Term->getData('end_time'))}">
        <button type="submit">submit</button>
    </form>
</body>

</html>