<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>新增学期</title>
</head>

<body>
    <form action="" method="post" class="form-inline">
        <label for="name">学期名称:</label>
        <input type="text" name="name" id="name" />
           <label for="startDay">开始日期:</label>
           <input type="date" id="startDay" name="startDay">
           <label for="endDay">结束日期:</label>
           <input type="date" id="endDay" name="endDay">
        <button type="submit">submit</button>
    </form>
</body>

</html>