<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>学期管理</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- 菜单导航 -->
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="#">梦云智</a>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li><a href="{:url('admin_term/index')}">学期管理</a></li>
                                    <li><a href="#">教师管理</a></li>
                                    <li><a href="#">学生管理</a></li>
                                    <li><a href="{:url('admin_room/index')}">教室管理</a></li>
                                    <li><a href="{:url('admin_mould/index')}">模板管理</a></li>

                                </ul>
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="#">个人中心</a></li>
                                    <li><a href="#">注销</a></li>
                                </ul>
                            </div>
                            <!-- /.navbar-collapse -->
                        </div>
                        <!-- /.container-fluid -->
                    </nav>
                </div>
            </div>
    <!-- /菜单导航 -->
            <hr />
            <div class="row">
                <div class="col-md-8">
                    <form class="form-inline">
                        <div class="form-group">
                            <label class="sr-only" for="name">名称</label>
                            <input name="name" type="text" class="form-control" placeholder="名称..." value={:input('get.name')}>
                        </div>
                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>&nbsp;查询</button>
                    </form>
                </div>
                <div class="col-md-4 text-right">
                    <a href="{:url('add')}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;增加</a>
                </div>
            </div>
            <hr />
            <table class="table table-hover table-bordered">
                <tr class="info">
                    <th>序号</th>
                    <th>学期名称</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                    <th>生效状态</th>
                    <th>操作</th>
                </tr>
                 {volist name="Terms" id="term" key="key"}
                <tr>
                      <td>{$key}</td>
                      <td>{$term->getData('name')}</td>
                      <td>{:date('Y-m-d',$term->getData('start_time'))}</td>
                      <td >{:date('Y-m-d',$term->getData('end_time'))}</td>
                      {eq name='$term->getData("effect")' value='1'}
                      <td ><span class="label label-success">生效中</span></td>
                      {else /}
                       <td ><span class="label label-default">未生效</span></td>{/eq}
                     <td>{eq name='$term->getData("effect")' value='1'}
                         <a href="{:url('frozen?id=' . $term->getData('id'))}" class="btn btn-sm btn-info"><i class="glyphicon glyphicon-ice-lolly"></i>&nbsp;冻结</a>
                         {else /}
                         <a href="{:url('activate?id=' . $term->getData('id'))}" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-ice-lolly-tasted"></i>&nbsp;激活</a>{/eq}
                         <a href="{:url('edit?id=' . $term->getData('id'))}" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-pencil"></i>&nbsp;编辑</a>&nbsp;
                         <a href="{:url('delete?id=' . $term->getData('id'))}" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-trash"></i>&nbsp;删除</a>
                     </td>
                </tr>  
                {/volist}  
            </table>
           {$Terms->render()}
        </div>
    </div>
</body>
</html>