<!DOCTYPE html>
<html lang="zh-hans">

<head>
    <meta charset="UTF-8">
    <title>查看学生</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body class="container">
<!-- 菜单导航 -->
    <div class="text left">
        <div class="col-md-12">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">梦云智</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="{:url('TeacherCourse/index')}">课程管理</a></li>
                            <li><a href="{:url('TeacherStudent/index')}">学生管理</a></li>
                            <li><a href="{:url('Klass/index')}">班级管理</a></li>
                            <li><a href="{:url('Teacher/index')}">上课</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{:url('TeacherCenter/center')}">个人中心</a></li>
                            <li><a href="#">注销</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input id="return"  name="Submit" type="submit" class="btn " onclick="javascript:history.back();" value="返回"/>
            <hr />
            <h2>学生名单</h2>
            <div class="row">
                <div class="col-md-8">
                    <form class="form-inline">
                         <div class="form-group">
                            <label class="sr-only">姓名</label>
                            <input name="name" type="text" class="form-control" placeholder="姓名..." value="{:input('get.number')}">
                        </div>
                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>&nbsp;查询</button>
                    </form>
                </div>
                <div class="col-md-4 text-right">
                    <a href="{:url('student_add')}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;增加</a>
                </div>
            </div>
            <hr />
            <table class="table table-hover table-bordered">
                <tr class="info">
                    <th>序号</th>
                    <th>班级</th>
                    <th>姓名</th>
                    <th>学号</th>
                    <th>操作</th>
                </tr>
                {volist name="students" id="student" key="key"}
                <tr >                    
                    <td>{$key}</td>
                    <td>{$student->getKlass->getData('name')}</td>
                    <td>{$student->getData('name')}</td>
                    <td>{$student->getData('number')}</td>
                    <td>
                        <a class="btn btn-primary" href="{:url('student_edit?id=' . $student->getData('id'))}"><i class="glyphicon glyphicon-pencil"></i>&nbsp;编辑</a>
                        &nbsp;&nbsp;
                        <a class="btn btn-danger" href="{:url('student_delete?id=' . $student->getData('id'))}"><i class="glyphicon glyphicon-trash"></i>&nbsp;删除</a>
                    </td>
                </tr>
                {/volist}
            </table>
            {$students->render()}
        </div>
    </div>
</body>

</html>