<!DOCTYPE html>
<html lang="zh-hans">

<head>
    <meta charset="UTF-8">
    <title>编辑班级</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style type="text/css">
       .style1{
         position: relative;
     }
    </style>
</head>

<body class="container">
<!-- 菜单导航 -->
    <div class="text left">
        <div class="col-md-12">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">梦云智</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="{:url('TeacherCourse/index')}">课程管理</a></li>
                            <li><a href="{:url('TeacherStudent/index')}">学生管理</a></li>
                            <li class="active"><a href="{:url('Klass/index')}">班级管理</a></li>
                            <li><a href="{:url('Teacher/index')}">上课</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{:url('TeacherCenter/center')}">个人中心</a></li>
                            <li><a href="{:url('Login/logout')}">注销</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input id="return"  name="Submit" type="submit" class="btn btn-default" onclick="javascript:history.back();" value="返回"/>
            <hr />
            <form class="form-inline" action="{:url('getFile')}" enctype="multipart/form-data" method="post">
                <div>
                    <input type="hidden" name="klass_id" value="{$Klass->id}">
                    <div style="float: left;"><lable><b> 导入学生：</b></lable></div>
                    <div><input type="hidden" name="MAX_FILE_SIZE" value="30000" />
                    <div style="top: -8px;"><a href="{:url('getModel')}"><button type="button" class="form-control  style1 btn-default" >模板下载</button></a></div> <br>  
                    <div style="float: left;"><lable for="userfile" ><b> 选择文件：</b></lable></div>            
                    <input name="userfile" type="file" />
                    <button type="submit" style="left: 69px;top: 20px;" class="form-control style1 btn-default">上传文件</button>
                    </div>
                </div>
            </form>
            <br><br>
            <form action="{:url('update')}" method="post" class="form-inline">
                    <input type="hidden" name="id" value="{$Klass->getData('id')}" />
                    <label >班级姓名:</label>
                    <input type="hidden" name="student_number"  value="{$Klass->getData('student_number')}" />
                    <input type="text" name="name" id="name" style="left: 5px;" class="form-control style1" value="{$Klass->getData('name')}"/>
                    <button type="submit" class="form-control btn-default">保存</button>
            </form>
        </div>
    </div>
</body>

</html>