<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>课程查看</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" >
</head>

<body class="container">
    <div class="row">
        <div class="col-md-12">
            <hr />
            <div class="row">
                <div class="col-md-8">
                    <form class="form-inline">
                        <div class="form-group">
                            <label class="sr-only" for="name">名称</label>
                            <input name="name" type="text" class="form-control" placeholder="名称..." value="">
                        </div>
                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>&nbsp;查询</button>
                    </form>
                </div>
            </div>
            <hr />
            <table class="table table-hover table-bordered">
                <tr class="info">
                    <th>序号</th>
                    <th>课程名称</th>
                    <th>上课地点</th>
                    <th>总成绩</th>
                    <th>操作</th
                </tr>
                <tr>
                    <td>1</td>
                    <td>高数</td>
                    <td>A201</td>
                    <td>98</td>
                    <td><a class="btn btn-success"><i class="glyphicon glyphicon-search"></i>&nbsp;查看上课记录</a></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>