<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <style type="text/css">
    </style>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <title>用户登录</title>
        <link rel="stylesheet"  href="index_log.css" />
<link rel="stylesheet" type="text/css" href="log.css">
    </head>

    <body>
         <div class="login">
            <h1 ><font color="#81BEF7 ">梦云智 微课堂</font></h1>
            <h2>用户登录</h2>
            <div class="login_box">
                 
                <input type="text" name='name' id='name' required  />
                <label for="name" >用户名</label>
            </div>
            <div class="login_box">
                 
                <input type="password" name='pwd' id='pwd' required="required">
                <label for="pwd">密码</label>
            </div>
            <a href="javascript:void(0)">
                登录
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </a>

         </div>

    </body>
</html>