
{extend name="index"/}
{block name="title"}
学生管理
{/block}
{block name="content"}
            <table class="table table-hover table-bordered">
                <tr class="info">
                    <th>序号</th>
                    <th>姓名</th>
                    <th>邮箱</th>
                    <th>操作</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>zhangsan</td>
                    <td>zhangsan@yunzhi.club</td>
                    <td>
                        <a class="btn btn-sm btn-primary" href=""><i class="glyphicon glyphicon-pencil"></i>&nbsp;重置密码</a>  
                    </td>
                </tr>
            </table>
{/block}
{block name="page"}
{/block}