<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>添加模板</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body class="container"> 
	<div class="row">
        <div class="col-md-12">
          <!-- 菜单导航 -->
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="#">梦云智</a>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                  <li><a href="{:url('admin_term/index')}">学期管理</a></li>
                                    <li ><a href="{:url('admin_teacher/index')}">教师管理</a></li>
                                    <li ><a href="{:url('admin_student/index')}">学生管理</a></li>
                                    <li ><a href="{:url('admin_room/index')}">教室管理</a></li>
                                    <li class="active"><a href="{:url('admin_mould/index')}">模板管理</a></li>
                                </ul>
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="{:url('admin_center/center')}"><i class="glyphicon glyphicon-user" style="position: relative;top: 2px;"></i>个人中心</a></li>
                                    <li><a href="{:url('Login/logout')}">注销</a></li>
                                </ul>
                            </div>
                            <!-- /.navbar-collapse -->
                        </div>
                        <!-- /.container-fluid -->
                    </nav>
                </div>
            </div>
    <!-- /菜单导航 -->
	<div class="col-md-12">
		<hr>
		<input id="return"  name="Submit" type="submit" class="btn " onclick="javascript:history.back();" value="返回"/>
	    <form class="form-inline col-md-4 col-md-offset-4" method="post" action="{:url('set')}">
        <div class="form-group" >
        <label for="name">请输入模板名字</label>
        <input type="text" class="form-control" id="name" name="name">
      </div>
	  <div class="form-group " style="position: relative;top:20px">
	    <label for="row">请输入模板行数</label>
	    <input type="text" class="form-control" id="row" name="row">
	  </div>
	  <div class="form-group" style="position: relative;top:40px">
	    <label for="line">请输入模板列数</label>
	    <input type="text" class="form-control" id="line" name="line">
	  </div>
	  <br>
	  <button type="submit" class="btn btn-default col-md-offset-2" style="position: relative;top:60px;left: 70px">submit</button>
	  </form>
	</div>
</body>
</html>