<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>添加模板</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body class="container"> 
	<div class="row">
        <div class="col-md-12">
          <!-- 菜单导航 -->
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="#">梦云智</a>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li><a href="#">教师管理</a></li>
                                    <li><a href="#">学生管理</a></li>
                                    <li><a href="#">教室管理</a></li>
                                    <li><a href="{:url('index')}">模板管理</a></li>

                                </ul>
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="#">个人中心</a></li>
                                    <li><a href="#">注销</a></li>
                                </ul>
                            </div>
                            <!-- /.navbar-collapse -->
                        </div>
                        <!-- /.container-fluid -->
                    </nav>
                </div>
            </div>
    <!-- /菜单导航 -->
	<div class="col-md-12">
		<hr>
		<input id="return"  name="Submit" type="submit" class="btn " onclick="javascript:history.back();" value="返回"/>
	    <form class="form-inline col-md-4 col-md-offset-4" action="{:url('set')}">
	  <div class="form-group">
	    <label for="x">请输入模板行数</label>
	    <input type="text" class="form-control" id="exampleInputName2" >
	  </div>
	  <div class="form-group" style="position: relative;top:20px">
	    <label for="exampleInputEmail2">请输入模板列数</label>
	    <input type="email" class="form-control" id="y" >
	  </div>
	  <br>
	  <button type="submit" class="btn btn-default col-md-offset-2" style="position: relative;top:40px;left: 70px">submit</button>
	  </form>
	</div>
</body>
</html>