<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>模板修改</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="">
    <style type="text/css">
       .seat{
          padding: 6px 12px;font-size: 14px;font-weight: 400;text-align: center; width:50px;
          height: 25px; cursor:default;"
       } 
       .style1{
        position:relative; left: 3px
       }
       .style2{
        position:relative; left: 4px
       }
    </style>
</head>

<body class="container">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">梦云智</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{:url('admin_term/index')}">学期管理</a></li>
                      <li ><a href="{:url('admin_teacher/index')}">教师管理</a></li>
                      <li ><a href="{:url('admin_student/index')}">学生管理</a></li>
                      <li ><a href="{:url('admin_room/index')}">教室管理</a></li>
                      <li class="active"><a href="{:url('admin_mould/index')}">模板管理</a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                      <li><a href="{:url('admin_center/center')}">个人中心</a></li>
                      <li><a href="{:url('Login/logout')}">注销</a></li>
                  </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="row" style="margin-top: 20px">
              <a href="{:url('/index/admin_mould/check/id/'.$Mould->getData('id'))}">
                <button  type="submit" class="btn-xs btn-default" style="position:relative; left: 20px">
                    返回
                </button>
            </a>
        <form action="{:url('save')}" method="post">
            <input type="hidden" name="id" value="{$Mould->getData('id')}"/>
            <input type="hidden" name="row" value="{$Mould->getData('row')}"/>
            <input type="hidden" name="line" value="{$Mould->getData('line')}"/>
             <div class="text-left "  style="  position:relative; top:15px;left: 20px">
                 <font size="3">模板名称:</font>
                 <input class="form-inline style1" type="text" name="name" id="name" value="{$Mould->getData('name')}"  ><br>
                 <font size="3">容量:</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 <input class="form-inline style2" type="text" name="num" id="num" value="{$Mould->getData('num')}"  ><br>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-success" style="margin-top:-20px;position:relative;right: 20px">
                    <i class="glyphicon glyphicon glyphicon-ok"></i>&nbsp;保存
                </button>
            </div>
        </form>    
          <hr >
        <div class="col-md-4 col-md-offset-5" >
                <h3>
                    <p style="color: green;">讲台</p>
                </h3>
        </div>
        <div class="text-right" style="position:relative; top:20px;">
                <font size="4" style="position:relative; top:4px;right: 20px">座位:</font>
                <button class="btn btn-info seat "style="position:relative;right: 20px" >
                </button>
        </div>
        <div class="col-md-4 col-md-offset-4">
         <hr>
        </div>
    </div>
    
    <div class="container"style="padding-right:100px">
        <table style="margin:0 auto;margin-bottom: 50px;">
            <?php for ($x=1; $x<=$Mould->getData('row'); $x++) : ?>
            <tr>
             <?php for ($y=1; $y<=$Mould->getData('line'); $y++) :?>
                  <!-- 输出座位 -->
                  {volist name="Seats" id="seat" key="key"}
                      {eq name='$seat["mid"]' value='$Mould->getData("id")'} 
                            {eq name='$seat["x"]' value='$x'} 
                               {eq name='$seat["y"]' value='$y'}
                                 <th>
                                    <a href="{:url('changeSeat?id=' . $seat['id'])}">
                                        <button class="btn btn-info seat" >
                                        </button>
                                    </a>
                                 </th>
                                {/eq}
                             {/eq}
                            {/eq}
                  {/volist}
                  <!-- 输出过道 -->
                  {volist name="Aisles" id="aisle" key="key"}
                      {eq name='$aisle["mid"]' value='$Mould->getData("id")'} 
                            {eq name='$aisle["x"]' value='$x'} 
                               {eq name='$aisle["y"]' value='$y'}
                                 <th>
                                    <a href="{:url('changeAisle?id=' . $aisle['id'])}">
                                        <button class="btn btn-default seat" style="border:none;">
                                        </button>
                                    </a>
                                 </th>
                                {/eq}
                             {/eq}
                            {/eq}
                  {/volist}
               <?php endfor; ?>
            </tr>
           <?php endfor; ?>
        </table>
    </div>
    <hr>
    </div>
</body>
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>

</html>

