<!DOCTYPE html>
<html lang="zh-hans">

<head>
    <meta charset="UTF-8">
    <title>编辑数据</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body class="container">
    <div class="row">
        <div class="col-md-12">
        <hr />
            <form class="form-inline">
                <div>
                    <div style="float: left;"><label>导入学生：</label></div>
                    <div style="float: left;"><button type="submit">模板下载</button></div>
                    <div><input type="hidden" name="MAX_FILE_SIZE" value="30000" />
                    <input name="userfile" type="file" /></div>
                    <div style="clear: left;"></div>
                </div>
                <label>班级:</label>
                <input type="text" name="klass" value="" />
                <button type="submit">保存</button>
                <button type="submit">取消</button>
            </form>
            <hr />
            <h2>学生名单</h2>
            <form class="form-inline">
                 <div class="form-group">
                    <label class="sr-only">学号</label>
                    <input name="" type="text" class="form-control" placeholder="学号..." value="">
                </div>
                <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>&nbsp;查询</button>
            </form>
            <hr />
            <table class="table table-hover table-bordered">
                <tr class="info">
                    <th>序号</th>
                    <th>姓名</th>
                    <th>学号</th>
                </tr>
                <tr >
                    <td>1</td>
                    <td>王五</td>
                    <td>201234</td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>