<!DOCTYPE html>
<html lang="zh-hans">

<head>
    <meta charset="UTF-8">
    　<style type="text/css">
    .main background-color:#f00<title>个人中心</title>
  </style>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" >
</head>
<div style=" background-color:#FFEFD5;border-radius: 25px;
    border: 2px solid #EEE8AA;
    padding: 20px;
    width: 800px;
    height: 450px;" >

<body class="container">
    <h1 style="color: #CD853F;text-align:center">个人中心</h1>
      

    <div style="background-color: #FFDAB9;border-radius: 25px;
    border: 2px solid #EEE8AA;
    padding: 20px;
    width: 450px;
    height: 200px;
     margin: 30px 10px 20px 150px;
    ">
    <ul>
        <li><font size="5" >管理员编号:<td></td></font></li>
        <li><font size="5" >姓名：<td></td></font></li>
        <li><font size="5" >性别：<td></td></font></li>
        <li><font size="5" >用户名：<td></td></font></li>
    </ul>
    <div style="left: 950px; position: absolute; top: 300px;"><a href=""><font size="4">修改密码</font></a></div>
</div>
</div>
</body>
</html>