<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <style type="text/css">
    .main background-color:#f00<title>个人中心</title>
    </style>
    <link rel="stylesheet" type="text/css" href="/MicroCourse2021/thinkphp5.0guide-step1/public/static/css/model4.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<out>
    
<div  class="out">
<div class="email"><a href="{:url('student/index')}"><button class="btn btn-default col-md-offset-0"><font size="3">返回</font></button></a></div>
<body class="container">
    <h1 class="head1">个人中心</h1>


    <div class="in">

    <ul>

        
        <li><font size="5" >学生学号:<td>{:$teachers->number}</td></font></li>
        <li><font size="5" >姓名：{:$teachers->name}<td></td></font></li>
        <li><font size="5" >性别：{eq name='$teachers->getData("sex")' value='0'}男{else /}女{/eq}<td></td></font></li>
        <li><font size="5" >班级：{:$teachers->getklass()->name}<td></td></font></li>
        <li><font size="5" >邮箱：{:$teachers->email}<td></td></font></li>
    </ul>
    <div class="email"><a href="{:url('updateemail?id=' . $teachers->getData('id'))}"><button class="btn btn-default col-md-offset-12"><font size="3">修改邮箱</font></button></a></div>
    <br>
    <div class="code"><a href="{:url('update?id=' . $teachers->getData('id'))}"><button class="btn btn-default col-md-offset-12"><font size="3">修改密码</font></button></a></div>

</div>
</div>
</body>
</html>