<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>编辑</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body  class="container">
<!-- 菜单导航 -->
    <div class="text left">
        <div class="col-md-12">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">梦云智</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="{:url('TeacherCourse/index')}">课程管理</a></li>
                            <li class="active"><a href="{:url('TeacherStudent/index')}">学生管理</a></li>
                            <li><a href="{:url('Klass/index')}">班级管理</a></li>
                            <li><a href="{:url('Teacher/index')}">上课</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{:url('TeacherCenter/center')}">个人中心</a></li>
                            <li><a href="{:url('Login/logout')}">注销</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>
    </div>
    <form action="{:url('update')}" method='post'>
        <font size="3">学生姓名:</font>
        <input class="form-inline" type="text" placeholder="{:$Student->get($Score->student_id)->name}" disabled>
        <font size="3">平时成绩:</font>
        <input type="text" name="usual_score" value="{$Score->usual_score}" >
        <font size="3">考试成绩:</font>
        <input type="text" name="exam_score"  value="{$Score->exam_score}">
        <input type="hidden" name="id" value="{$Score->id}" >
        <button type="sumbit">保存</button>    
        <a href="{:url('index')}"><button type="button">取消</button></a>     
    </form>
</body>
</html>
