<!DOCTYPE html>
<html lang="zh-hans">

<head>
    <meta charset="UTF-8">
    <title>学生管理</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body class="container">
<!-- 菜单导航 -->
    <div class="text left">
        <div class="col-md-12">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">梦云智</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="{:url('Teacher/index')}">上课</a></li>
                            <li><a href="{:url('Klass/index')}">班级管理</a></li>
                            <li><a href="{:url('TeacherCourse/index')}">课程管理</a></li>
                            <li class="active"><a href="{:url('TeacherStudent/index')}">学生管理</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{:url('TeacherCenter/center')}"><i class="glyphicon glyphicon-user" style="position: relative;top: 2px;"></i>个人中心</a></li>
                            <li><a href="{:url('Login/logout')}">注销</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr />
            <div class="col-md-4">
                <a href="{:url('TeacherStudent/index')}" class="btn btn-default " style="position: relative;top: -8px;right: 15px;">返回</a>
            </div>
            
            <hr />
            <table class="table table-hover table-bordered">
                <tr class="info">
                    <th>序号</th>
                    <th>姓名</th>
                    <th>课程</th>
                    <th>平时成绩</th>
                    <th>期末成绩</th>
                    <th>总成绩</th>
                    <th>操作</th>
                </tr>
                {volist name='scores' id='score' key='key'}
                <tr >
                    <td>{$key}</td>
                    <td>{:$Student->get($score->student_id)->name}</td>
                    <td>{:$Course->get($score->course_id)->name}</td>
                    <td>{$score->usual_score}</td>
                    <td>{$score->exam_score}</td>
                    <td>{$score->sum_score}</td>
                    <td>
                        <a class="btn btn-primary" href="{:url('Score/edit?id='.$score->id)}"><i class="glyphicon glyphicon-pencil"></i>&nbsp;编辑</a>
                        &nbsp;&nbsp;
                    </td>
                </tr>
                {/volist}
            </table>
        </div>
    </div>
</body>

</html>